<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>crossword-dl</string>
		<key>Program</key>
		<string>/ABSOLUTE-PATH-TO-PROJECT/remarkable-crossword-dl/syncCrosswords.py</string>

		<key>StandardOutPath</key>
		<string>/ABSOLUTE-PATH-TO-PROJECT/remarkable-crossword-dl/out-log.txt</string>
		<key>StandardErrorPath</key>
		<string>/ABSOLUTE-PATH-TO-PROJECT/remarkable-crossword-dl/err-log.txt</string>

		<key>RunAtLoad</key>
		<true/>
		<key>StartCalendarInterval</key>
		<array>
			<dict>
				<key>Weekday</key>
				<integer>1</integer>
				<key>Hour</key>
				<integer>21</integer>
				<key>Minute</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Weekday</key>
				<integer>2</integer>
				<key>Hour</key>
				<integer>21</integer>
				<key>Minute</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Weekday</key>
				<integer>3</integer>
				<key>Hour</key>
				<integer>21</integer>
				<key>Minute</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Weekday</key>
				<integer>4</integer>
				<key>Hour</key>
				<integer>21</integer>
				<key>Minute</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Weekday</key>
				<integer>5</integer>
				<key>Hour</key>
				<integer>21</integer>
				<key>Minute</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Weekday</key>
				<integer>6</integer>
				<key>Hour</key>
				<integer>17</integer>
				<key>Minute</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Weekday</key>
				<integer>7</integer>
				<key>Hour</key>
				<integer>17</integer>
				<key>Minute</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
</plist>
